<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Liste des medecins</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-5">
        <div class="card">
            <a th:href="@{formMedecin}" class="text-white w-25 me-0"><button class="btn btn-primary w-100">Ajouter</button></a>
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="mt-3">Liste des medecins</h3>
                <form class="form-inline d-flex" method="get" th:action="@{medecins}">
                    <input class="form-control mr-sm-2" type="text" name="keyword" th:value="${keyword}">
                    <button class="btn btn-primary" type="submit">Chercher</button>
                </form>
            </div>
            <div class="card-body">
                <table class="table table-striped mt-3">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOM</th>
                        <th>E_MAIL</th>
                        <th>SPECIALITE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m:${ListMedecins}">
                        <td th:text="${m.id}"></td>
                        <td th:text="${m.nom}"></td>
                        <td th:text="${m.email}"></td>
                        <td th:text="${m.specialite}"></td>
                        <td>
                            <a onclick="return confirm('Etes-vous sure? ')" class="btn btn-danger"
                               th:href="@{medecinDelete(id=${m.id}, keyword=${keyword}, page=${currentPage})}">Suppimer</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <ul class="nav nav-pills">
                    <li th:each="pages, status:${pages}">
                        <a th:class="${status.index==currentPage? 'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                           th:text="${status.index}" class="btn"
                           th:href="@{medecins(page=${status.index}, keyword=${keyword})}"
                        />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>